version: '3'

services:

  composer:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        - COMPOSER_GITHUB_TOKEN=${COMPOSER_GITHUB_TOKEN}
        - UID=${UID-}
    container_name: ${APP_NAME}_artisan
    volumes:
      - ./:/var/www/
    working_dir: /var/www/
    entrypoint: [ 'composer' ]
    # docker-compose run --rm composer ______

  npm:
    image: node:14-alpine3.13
    container_name: ${APP_NAME}_npm
    volumes:
      - ./:/var/www/
    working_dir: /var/www/
    entrypoint: [ 'npm' ]
    # docker-compose run --rm npm ______
