version: '3'

services:

  composer:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        - COMPOSER_GITHUB_TOKEN=${COMPOSER_GITHUB_TOKEN}
        - UID=${UID-}
    container_name: modular-forms_composer
    volumes:
      - ./:/var/www/html
    entrypoint: [ 'composer' ]
    # docker-compose run --rm composer ______

  npm:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
      args:
        - UID=${UID-}
    container_name: modular-forms_npm
    volumes:
      - ./:/var/www/html
    entrypoint: [ 'npm' ]
    # docker-compose run --rm npm ______

