@import "../abstracts/all";

// Manage Interactivity
.accordion {
    &-item {
        &-header {
            &-title {
                cursor: pointer;
            }
        }
        &:not(.show){
            .accordion-item-body {
                max-height: 0;
                overflow: hidden;
                transition: all 200ms linear;
            }
        }
        &.show {
            .accordion-item-body {
                max-height: 10px;
                overflow: hidden;
                transition: all 200ms linear;
            }
        }
    }
}

// ###  Form filters  ###
.accordion.form-filters{

    .accordion-item{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 0.5rem;
        margin-bottom: 25px;
        &-header {
            background-color: $gray-100;
            padding: 10px 10px 10px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-title {
                flex-grow: 1;
                font-weight: bold;
                color: $primary-600;
                @include text-base;
                margin: 0;
                &:hover, &:focus{
                    color: $primary-800;
                    text-decoration: none;
                }
                &::before{
                    font-family: $fontFamily-FontAwesome;
                    padding-left: 5px;
                    padding-right: 10px;
                    @include text-lg;
                    content: "\f105"; // fa-angle-right
                }
            }
        }
        &.show{
            .accordion-item-header-title::before{
                content: "\f107"; // fa-angle-down
            }
        }
        &-body {
            background-color: $gray-50;
            margin: 0;
            padding: 0;
            border: none;
            &-content{
                padding: 15px;
            }
        }
    }

}

// ####  Module  ####
.module-container{

    .accordion {
        &-item {
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            border: none;
            margin-bottom: 8px;

            &-header {
                background-color: $gray-50;
                padding: 5px 10px 5px 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-title {
                    flex-grow: 1;
                    font-weight: bold;
                    color: $gray-800;
                    font-size: 1em;
                    margin: 0;
                    &:hover, &:focus{
                      color: $primary-800;
                      text-decoration: none;
                    }
                    a {
                        &:hover, &:focus {
                            color: $primary-900;
                            text-decoration: none;
                        }
                    }
                }
            }

            &-body {
                background-color: $gray-50;
                margin: 0;
                padding: 0;
                border: none;
                &-content{
                    border-top: 1px solid $gray-300;
                    padding: 15px 15px 10px 15px;
                }
            }
        }
    }

}


//
////  ######  Simple  ######
//.card {
//    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
//    border: none;
//    margin-bottom: 8px;
//    >.card-header{
//      background-color: $gray-50;
//      border-image: $gray-400;
//      padding: 10px 10px 10px 15px;
//      display: flex;
//      align-items: center;
//      justify-content: space-between;
//      >.card-title{
//        flex-grow: 1;
//        font-weight: bold;
//        color: $gray-800;
//        font-size: 1em;
//        margin: 0;
//        &:hover, &:focus{
//          color: $primary-800;
//          text-decoration: none;
//        }
//        a{
//          display: flex;
//          align-items: center;
//          &:hover, &:focus{
//            color: $primary-900;
//            text-decoration: none;
//          }
//        }
//      }
//    }
//  }
//
//.accordion{
//  .card{
//    overflow: unset; // needed by vue-select dropdowns
//  }
//  .card-title{
//    a{
//      &::before{
//        font-family: $fontFamily-FontAwesome;
//        padding-right: 20px;
//        text-align: center;
//        width: 1.25em;
//        @include text-xl;
//      }
//      &.collapsed::before{
//        content: "\f105"; // fa-angle-right
//      }
//      &:not(.collapsed)::before{
//        content: "\f107"; // fa-angle-down
//      }
//    }
//  }
//}
//
//
////  ######  Light  ######
//.accordion-container {
//  >.card {
//    border: none;
//    -webkit-box-shadow: none;
//    box-shadow: none;
//    >.card-header {
//      background-color: $gray-50;
//      border-radius: 4px;
//      border-bottom: none;
//      padding: 0 10px 0 0;
//      .card-title{
//        flex-grow: 1;
//        a {
//          display: flex;
//          align-items: center;
//          padding: 5px 15px;
//          font-weight: normal;
//          color: $gray-800;
//          @include text-lg;
//          &:hover, &:focus{
//            text-decoration: none;
//          }
//
//          i {
//            margin-right: 15px;
//            @include icon-white-s()
//          }
//          &.collapsed{
//            font-weight: 500;
//            i{
//              @include icon-primary-s()
//            }
//          }
//          &:hover{
//            i{
//              @include icon-white-s()
//            }
//          }
//        }
//      }
//    }
//
//    >.collapse.show{
//      display: block;
//      height: auto;
//    }
//    >.collapse{
//      display: block;
//      height: 0;
//      overflow: hidden;
//    }
//    .card-body{
//      padding: 10px 15px;
//      margin: 0;
//      border: none;
//      @include text-sm;
//    }
//  }
//
//
//}
