@import "../abstracts/all";

/*  #########  Flat buttons  ########  */

.btn-nav{
  font-weight: normal;
  font-size: 0.8rem;
  background-color: $primary-600;
  color: $white;
  padding: 5px 10px;
  display: inline-block;
  border:1px solid $primary-600;
  border-radius: 0.2rem;
  @include transition();

  // Sizes
  &.small{
    font-size: 0.7rem;
    padding: 0 8px;
    line-height: 2em;
  }
  &.big{
    font-size: 1rem;
    padding: 10px 20px;
    letter-spacing: .5px;
    i{
      margin-right: 10px;
    }
  }

  // Colors
  &, &.basic{
    &.tag, &:hover{
      background-color: $white;
      color: $primary-600;
      text-decoration: none;
      .fas{
        color: $primary-600;
      }
    }
  }
  &.dark,
  &.active{
    background-color: $primary-900;
    border-color: $primary-900;
    &.tag, &:hover{
      color: $primary-900;
      background-color: $white;
      .fas{
        color: $primary-900;
      }
    }
  }
  &.light{
    color: $gray-800;
    background-color: $primary-300;
    border-color: $primary-300;
    &.tag, &:hover{
      color: $primary-500;
      background-color: $white;
      .fas{
        color: $primary-300;
      }
    }
  }
  &.red{
    background-color: $red-600;
    border-color: $red-400;
    &.tag, &:hover{
      color: $red-400;
      background-color: $white;
      .fas{
        color: $red-400;
      }
    }
  }
  &.blue{
    background-color: $blue-600;
    border-color: $blue-400;
    &.tag, &:hover{
      color: $blue-400;
      background-color: $white;
      .fas{
        color: $blue-400;
      }
    }
  }
  &.yellow{
    color: $gray-800;
    background-color: #ffc107;
    border-color: #ffc107;
    &.tag, &:hover{
      background-color: $white;
      color: darken(#ffc107, 30%);
      .fas{
        color: darken(#ffc107, 30%);
      }
    }
  }
  &.gray{
    background-color: $gray-300;
    border-color: $gray-300;
    color: $gray-700;
    &.tag, &:hover{
      background-color: $white;
      color: $gray-700;
      .fas{
        color: $gray-700;
      }
    }
  }
  &.active-disabled{
    color: $white;
    background-color: $primary-900;
    border-color: $primary-900;
    pointer-events: none;
    &.tag, &:hover{
      color: $white;
      background-color: $primary-900;
      border-color: $primary-900;
      cursor: not-allowed;
      .fas{
        color: $white;
      }
    }
  }
  &:disabled,
  &.disabled{
    background-color: $gray-300;
    border-color: $gray-300;
    pointer-events: none;
    &.tag, &:hover{
      color: $white;
      background-color: $gray-300;
      cursor: not-allowed;
      .fas{
        color: $white;
      }
    }
  }

  // Variations
  &.rounded{
    border-radius: 50px !important;
  }
  &.tag{
    font-weight: bold;
    background-color: transparent;
    &:hover{
      background-color: transparent;
      color: $gray-800;
      border-color: $gray-800;
    }
    .fas{
      color: $gray-800;
    }
  }
}
