@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../abstracts/sizes";

.list-key-numbers{


  >div{
    &:first-of-type{
      border-top: 1px dashed $gray-300;
    }
    border-bottom: 1px dashed $gray-300;
  }

  &.grid_two_cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    >div:nth-child(2){
      border-top: 1px dashed $gray-300;
    }
  }
  &.grid_three_cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    >div:nth-child(2),
    >div:nth-child(3),{
      border-top: 1px dashed $gray-300;
    }
  }
  &.horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    >div.list-head{
      width: 100%;
      border-bottom: none;
    }
    >div{
      border-top: 1px dashed $gray-300;
      flex-grow: 1;
    }
  }

  >div{
    padding: 8px 0;
    display: flex;
    align-items: center;

    &.list-head{
      padding: 8px 8px 8px 10px;
      background-color: $gray-50;
      color: $gray-600;
      @include text-lg;
      font-weight: 600;
      display: block;
    }

    >i.icon-svg{
      @include icon-primary;
      width: 30px;
      min-width: 30px;
      height: 30px;
      padding: 5px;
      &:before {
        background-color: $primary-600;
      }
    }
    >i.fas{
      @include text-base;
      background-color: $gray-50;
      border-radius: 50%;
      color: $primary-600;
      width: 32px;
      height: 32px;
      text-align: center;
      vertical-align: middle;
      padding-top: 7px;
      &:before{
        background-color: transparent;
      }
    }
    .content{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      span{
        display: inline-block;
        vertical-align: middle;
        @include text-xs;
        padding-bottom: 2px;
        &:last-child{
          padding-bottom: 0;
        }
        &.number{
          color: $primary-600;
          @include text-xl;
          font-weight: 600;
        }
        span.highlighted{
          font-weight: bold;
          color: $primary-600;
        }
        &.two_columns{
          display: flex;
          span:first-child{
            flex-grow: 1;
          }
          span:nth-child(2){
            font-weight: bold;
          }
        }
        sup{
          @include text-xs;
          font-weight: 400;
          margin-left: 3px;
        }
      }
    }

  }
}
