@import "../abstracts/colors";

.floating_dialog{

    .with_header_and_footer{
        display: flex;
        flex-direction: column;

        min-width: 400px;
        max-width: 800px;
        width: 100vw;

        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @apply border-b border-gray-50;
            padding-bottom: 5px;
            font-weight: bold;
        }
        .body{
            padding: 0 5px;
        }
        .footer{
            display: flex;
            flex-direction: row;
            column-gap: 5px;
            align-items: center;
            justify-content: flex-end;

            padding-top: 5px;
            @apply border-t border-gray-50;
        }

        .header,
        .footer{
            .spacer {
                flex-grow: 1;
            }
        }

    }

}
