@import "../abstracts/all";

@mixin field-base{
    font-family: $secondary-font;
    @apply text-xs;
    @apply text-gray-800;
    @apply bg-white;
}
@mixin field-size{
    min-width: 80px;
    max-width: 450px;
    width: 100%;
    min-height: 28px;
}


.field-edit,
.field-preview{
    @include field-base;
    display: inline-block;
    border-radius: 5px;
    @apply border border-gray-300;
    padding: 5px 7px;

    &.field-disabled,
    &:disabled,
    &.disabled{
        border: 0;
        @apply bg-gray-50;
    }

    .multiple{
        @apply bg-gray-100 border border-gray-300 text-gray-800;
        border-radius: 4px;
        line-height: 1.4;
        padding: 1px 4px;
        margin: 0 5px 3px 0;
        display: inline-block;
        .remove_item{
            cursor: pointer;
            margin-left: 5px;
            @apply text-gray-500 font-bold text-red-500;
        }
    }
}

.accordion-item-body-content{
    .field-edit,
    .field-preview{
        &.field-disabled,
        &:disabled,
        &.disabled {
            @apply bg-white;
        }
    }
}


// Width & alignment
.field-edit,
.field-preview{
    @include field-size;

    &.field-numeric{
        max-width: 180px;
        text-align: right;
    }
    &.field-date{
        max-width: 120px;
        text-align: center;
    }

}

// ################################################
// ###################  TOGGLE  ###################
// ################################################

.toggle{
    display: flex;
    div{
        font-size: 0.8em;
        @apply text-gray-700;
        @apply bg-white;
        white-space: nowrap;
        @apply border border-gray-300;
        border-right: none;
        padding: 1px 6px;
        cursor: default;

        &:first-of-type{
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }
        &:last-of-type{
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            @apply border-r border-gray-300;
        }
        &.active{
            @extend .text-primary-50;
            @extend .bg-primary-800;
            border: 1px solid;
            @extend .border-primary-800;
        }
    }
    &:not(.disabled){
        div:hover:not(.active){
            @extend .border-primary-500;
            @extend .bg-primary-300;
            @apply text-black;
            cursor: pointer;
        }
    }
}

// ################################################
// ##################  CHECKBOX  ##################
// ################################################

.checkbox{

    &.list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        &.inline{
            flex-direction: row;
            gap: 15px;
        }
    }

    label {
        display: inline-block;
        position: relative;
        margin: 0;
        padding-left: 25px;
        min-height: 16px;
        @apply text-sm;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 0;
            @apply border border-gray-300 bg-white;
            border-radius: 3px;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }
        &::after {
            display: inline-block;
            position: absolute;
            left: 3px;
            top: 2px;
            font-size: 0.8em;
        }
    }

    input[type="checkbox"]{
        margin-left: -18px;
        opacity: 0;
        &:focus{
            outline: none;
        }
        &:checked + label::before {
            @apply border border-primary-800 bg-primary-800;
        }
        &:checked + label::after {
            font: var(--fa-font-solid);
            content: "\f00c";
            @apply text-white;
        }
        &:disabled + label {
            opacity: 0.65;
        }
        &:disabled + label::before {
            @apply bg-white;
            cursor: not-allowed;
        }
    }
}


// ################################################
// ###################  RATING  ###################
// ################################################

.rating-container{
    display: flex;
    justify-content: left;
    gap: 2px;

    .rating {
        display: block;
        min-height: 0;
        min-width: 0;
        font-weight: bold;
        @apply text-gray-500;
        @apply border border-gray-400;
        height: 22px;
        padding: 0;
        text-align: center;
        line-height: 20px;
        -webkit-print-color-adjust: exact;

        &.ratingNa{
            width: 33px;
        }
        &.ratingNum{
            width: 22px;
        }
        &.active{
            @apply text-white; /*@apply text-white #{!important};*/
            @apply bg-primary-800;
            @apply border border-gray-500;
        }
        &.hover{
            @apply text-black; /*@apply text-black #{!important};*/
            @apply bg-primary-300;
            border: 1px solid;
            @apply border-primary-500;
            cursor: pointer;
        }
    }
}

.module-table{
    .rating-container{
        justify-content: center;
    }
}

