@import "../abstracts/all";
/*


.radio input[type="radio"],
.checkbox input[type="radio"],
.checkbox input[type="checkbox"]{
  margin-left: 0;
}

.field-edit,
.field-enabled,
.field-preview,
.field-disabled{

  text-align: left;
  min-height: 34px;

}
.field-preview{
  .multiple{
    background-color: $gray-50;
    border: 1px solid  rgba($gray-700, 0.26);
    border-radius: 4px;
    color: $gray-700;
    line-height: 1.4;
    padding: 2px 4px;
  }
}

div.field-disabled{
  display: inline-block;
}
.field-error{
  border-color: $contextual-danger;
}
.error-message{
  color: $contextual-danger;
  font-weight: bold;
}

input.captcha-input{
  max-width: 200px;
}


.checkbox{

  label {
    display: inline-block;
    position: relative;
    margin: 0;
    padding-left: 25px;
    min-height: 16px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
      border: 1px solid $gray-300;
      border-radius: 3px;
      background-color: $white;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 0;
      font-size: 0.8em;
    }
  }

  input[type="checkbox"]{
    margin-left: -18px;
    opacity: 0;
    &:focus{
      outline: none;
    }
    &:checked + label::before {
      background-color: $primary-800;
      border-color: $primary-800;
    }
    &:checked + label::after {
      font-family: $fontFamily-FontAwesome;
      content: "\f00c";
      color: $white;
    }
    &:disabled + label {
      opacity: 0.65;
    }
    &:disabled + label::before {
      background-color: $gray-200;
      cursor: not-allowed;
    }
  }
}
.module-body .checkbox_label{
  font-size: 0.9em;
  margin-left: 4px;
  vertical-align: middle;
}

.radio {
  padding-left: 20px;

  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: -12px;
      margin-left: -20px;
      border: 1px solid $gray-300;
      border-radius: 50%;
      background-color: $white;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: -9px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: $gray-600;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
  }
  input[type="radio"]{
    opacity: 0;
    &:focus{
      outline: none;
    }
    & + label::after{
      background-color: $primary-800;
    }
    &:checked + label::before {
      border-color: $primary-800;
    }
    &:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      background-color: $primary-800;
    }
    &:disabled + label {
      opacity: 0.65;
    }
    &:disabled + label::before {
      cursor: not-allowed;
    }
  }
}


.range-slider {
  display: inline-block;

  input {
    -webkit-appearance: none;
    background: $gray-300;
    height: 10px;
    border-radius: 5px;

    &::-webkit-slider-thumb, {
      -webkit-appearance: none;
      cursor: pointer;
      background: $primary-800;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }
}





// #######################################################
// ##############  module container & bars  ##############
// #######################################################

.module-container{

  .module-body{


    .module-table{
      width: 100%;

      tr.module-table-item td{

        input.field-edit{
          display: inline-block;
        }
        .rating-container{
          justify-content: center;
        }
      }

      tr td {
        .no_data{
          font-weight: 600;
          line-height: 1.2em;
          color: $gray-400;
          font-size: 1.3em;
          text-align: center;
        }
        .ofac-table-sum {
          display: inline-block;
          max-width: 350px;
          background-color: $gray-50;

          input {
            border: none;
            width: 65%;
            background: none;
            font-size: 15px;
            margin-right: 8px;
          }
        }
        .ofac-table-unit {
          display: inline-block;
          max-width: 80px;
        }
      }
    }

  }


}



// ########################################################
// ###############  other forms components  ###############
// ########################################################

table.preload_preview{
  font-size: 0.9em;
  line-height: normal;
}

.filters {
  border: 1px solid $gray-400;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 25px;
  text-align: center;
}
.filters, .num_records{
  label{
    text-transform: capitalize;
  }
}

// ######  Toggle Switch  ######
.switch_checkbox{
  display: inline-block;
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin: 0;
  }

  label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + label {
    background: $primary-600;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 20px;
  }

  &{
    label{
      width: 30px;
      height: 15px;
    }
    label:after{
      width: 11px;
      height: 11px;
    }
  }

  &.sm{
    label {
      width: 22px;
      height: 11px;
    }
    label:after {
      width: 7px;
      height: 7px;
    }
  }

  &.lg{
    label {
      width: 60px;
      height: 30px;
    }
    label:after {
      width: 26px;
      height: 26px;
    }
  }
  &.xl{
    label {
      width: 80px;
      height: 40px;
    }
    label:after {
      width: 36px;
      height: 36px;
    }
  }
}


*/
