@import "../abstracts/all";

.form-grid{
  display: grid;
  grid-template-columns: 250px auto;
  row-gap: 15px;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  label, .label{
    text-transform: capitalize;
    text-align: right;
    font-weight: bold;
  }
}

label{
  margin-right: 10px;
}

.radio input[type="radio"],
.checkbox input[type="radio"],
.checkbox input[type="checkbox"]{
  margin-left: 0;
}

.field-inline{
  display: inline-block;
}

.field-edit-base{
  font-family: $input_font-family;
  font-size: $input_font-size;
  color: $gray-500;
  background-color: $white;
}

.field-edit,
.field-enabled,
.field-preview,
.field-disabled{
  font-family: $input_font-family;
  font-size: $input_font-size;
  //line-height: 1.3em;
  color: $gray-500;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $gray-300;
  padding: 4px 12px;
  text-align: left;
  display: inline;
  min-height: 34px;
  min-width: 80px;
  max-width: 450px;
  &.field-preview{
    display: inline-block;
  }
  &.field-disabled,
  &:disabled,
  &.disabled{
    border: 0;
    background-color: $gray-50;
  }
}
.field-preview{
  .multiple{
    background-color: $gray-50;
    border: 1px solid  rgba($gray-700, 0.26);
    border-radius: 4px;
    color: $gray-700;
    line-height: 1.4;
    padding: 2px 4px;
  }
}

div.field-disabled{
  display: inline-block;
}
.field-error{
  border-color: $contextual-danger;
}
.error-message{
  color: $contextual-danger;
  font-weight: bold;
}

input.captcha-input{
  max-width: 200px;
}

.module-body{
  .field-edit,
  .field-enabled,
  .field-preview,
  .field-disabled{
    width: 100%;
  }
}

.checkbox{

  label {
    display: inline-block;
    position: relative;
    margin: 0;
    padding-left: 25px;
    min-height: 16px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
      border: 1px solid $gray-300;
      border-radius: 3px;
      background-color: $white;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 0;
      font-size: 0.8em;
    }
  }

  input[type="checkbox"]{
    margin-left: -18px;
    opacity: 0;
    &:focus{
      outline: none;
    }
    &:checked + label::before {
      background-color: $primary-800;
      border-color: $primary-800;
    }
    &:checked + label::after {
      font-family: $fontFamily-FontAwesome;
      content: "\f00c";
      color: $white;
    }
    &:disabled + label {
      opacity: 0.65;
    }
    &:disabled + label::before {
      background-color: $gray-200;
      cursor: not-allowed;
    }
  }
}
.module-body .checkbox_label{
  font-size: 0.9em;
  margin-left: 4px;
  vertical-align: middle;
}

.radio {
  padding-left: 20px;

  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: -12px;
      margin-left: -20px;
      border: 1px solid $gray-300;
      border-radius: 50%;
      background-color: $white;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: -9px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: $gray-600;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
  }
  input[type="radio"]{
    opacity: 0;
    &:focus{
      outline: none;
    }
    & + label::after{
      background-color: $primary-800;
    }
    &:checked + label::before {
      border-color: $primary-800;
    }
    &:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      background-color: $primary-800;
    }
    &:disabled + label {
      opacity: 0.65;
    }
    &:disabled + label::before {
      cursor: not-allowed;
    }
  }
}

.rating-container{
  display: flex;
  justify-content: left;
  gap: 2px;
}
.rating {
    display: block;
  min-height: 0;
  min-width: 0;
  font-weight: bold;
  color: $gray-500;
  border: 1px solid $gray-400;
  height: 22px;
  padding: 0;
  text-align: center;
  line-height: 20px;
  -webkit-print-color-adjust: exact;

  &.ratingNa{
    width: 33px;
  }
  &.ratingNum{
    width: 22px;
  }
  &.active{
    color: $white !important;
    background-color: $primary-800;
    border: 1px solid $gray-500;
  }
  &.hover{
    color: $black !important;
    background-color: $primary-300;
    border: 1px solid $gray-500;
    cursor: pointer;
  }
}

.range-slider {
  display: inline-block;

  input {
    -webkit-appearance: none;
    background: $gray-300;
    height: 10px;
    border-radius: 5px;

    &::-webkit-slider-thumb, {
      -webkit-appearance: none;
      cursor: pointer;
      background: $primary-800;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }
}

.toggle{
  display: flex;
  button{
    font-size: 0.8em;
    color: $gray-700;
    background-color: $white;
    white-space: nowrap;
    border-top: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    border-left: 1px solid $gray-300;
    border-right: none;
    &:first-of-type{
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
    &:last-of-type{
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      border-right: 1px solid $gray-300;
    }
    &.active{
      color: $primary-50;
      background-color: $primary-800;
      border: 1px solid $primary-800;
    }
  }
  &:not(.disabled){
    button:hover{
      border-color: $primary-500;
      background-color: $primary-500;
      cursor: default;
    }
  }
}

// #######################################################
// ######################  heading  ######################
// #######################################################

.entity-heading{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 35px;

  .id, .name, .subtitle, .location{
    display: inline-block;
  }
  .id{
    color: $gray-500;
    margin-right: 10px;
    //border: 1px solid $gray-400;
    padding: 2px 5px;
  }
  .name{
    font-size: 1.3em;
  }
  .subtitle{
    color: $gray-500;
    font-style: italic;
  }
  .location{
    color: $gray-500;
    margin-left: 10px;
  }
}

.entity-heading-medium {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 30px;
}

// #######################################################
// #######################  steps  #######################
// #######################################################

nav.steps{
  display: flex;
  margin-bottom: 30px;
  clear: both;
  a.step {
    color: $gray-800;
    background-color: $gray-50;
    flex-grow: 1;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    padding: 20px 5px;
    border: 1px solid $gray-200;
    border-right: none;
    overflow-wrap: anywhere;
    min-width: 90px;
    &:last-child {
      border-right: 1px solid $gray-200;
    }
    @include transition(background-color);
    &:hover{
      text-decoration: none;
      background-color: $gray-300;
      &.selected {
        background-color: $primary-900;
      }
    }
    &.selected{
      background-color: $primary-900;
      border-color: $primary-900;
      position: relative;
      color: $white;
      &:after{
        content:'';
        height: 0;
        width: 0;
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: -8px;
        border-top: 8px solid $primary-900;
        margin-left: -13px;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
      }
    }
  }
}

.scrollButtons{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  div {
    text-align: center;
    background-color: $primary-900;
    color: $white;
    cursor: pointer;
    padding: 3px 8px;
    font-size: 0.9rem;
    &.standalone{
      font-size: 1.1rem;
      padding: 8px 12px;
      margin-top: 5px;
      border-radius: 5px;
    }
    &.highlight{
      background-color: $primary-500;
      color: $black;
    }
    &.error{
      background-color: $contextual-danger;
      color: $black;
    }
    &.scrollToTop, &.scrollToBottom{
      font-size: 1.2rem;
    }
    @include selector_border-radius-vertical(5px);
    &:hover {
      background-color: $primary-500;
      color: $black;
    }
  }

  /* ### Collapsible ### */
  &.collapsible{
    /* Hidden*/
    right: 0;
    div{
      @include text-2xs();
      &.scrollToTop, &.scrollToBottom{
        text-align: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.scrollSpacer{
        height: 40px;
      }
      &.scrollToAnchor{
        color: $primary-900;
        height: 5px;
        display: none;
      }
    }
    /* Visible */
    &:hover {
      div {
        @include text-base();
        &.scrollToTop, &.scrollToBottom{
          text-align: center;
        }
        &.scrollSpacer{
          display: none;
        }
        &.scrollToAnchor{
          color: $white;
          height: auto;
          display: block;
        }
      }
    }
  }

}

// #######################################################
// ##############  module container & bars  ##############
// #######################################################

.module-container{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  //box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

  .module-header{
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;

    font-weight: bold;
    font-size: 1.4em;
    color: $gray-800;
    background-color: $gray-500;
    -webkit-print-color-adjust: exact;

    .module-code,
    .module-title,
    .module-info{
      padding: 10px 15px;
      &.module-code{
        color: $gray-400;
        background-color: $primary-900;
      }
      &.module-title{
        flex: 1;
      }
      &.module-info{
        .module-info_modal-anchor{
          cursor: pointer;
          font-size: 0.5em;
        }
        .module-info_modal{
          .modal-body{
            color: $gray-500;
            font-weight: normal;
            @include text-base;
          }
        }
      }
    }

  }

  .module-body{
    padding: 10px 20px 20px 20px;
    border: 1px solid $gray-200;
    background-color: $gray-200;

    .module-log{
      margin: 0 0 10px;
      font-size: 0.8em;
    }

    .no-data{
      font-weight: 600;
      line-height: 1.2em;
      color: $gray-400;
      font-size: 1.4em;
      text-align: center;
      margin: 40px 0 40px 0;
    }

    .module-table{
      width: 100%;
      max-width: 1128px;
      margin: 0 0 15px;

      thead tr th,
      tbody tr td{
        border: 0;
        border-bottom: 1px solid $gray-300;
      }

      tr.module-table-item td{
        text-align: center;
        vertical-align: middle;
        input.field-edit{
          display: inline-block;
        }
      }

      tr td {
        .no_data{
          font-weight: 600;
          line-height: 1.2em;
          color: $gray-400;
          font-size: 1.3em;
          text-align: center;
        }
        .ofac-table-sum {
          display: inline-block;
          max-width: 350px;
          background-color: $gray-50;

          input {
            border: none;
            width: 65%;
            background: none;
            font-size: 15px;
            margin-right: 8px;
          }
        }
        .ofac-table-unit {
          display: inline-block;
          max-width: 80px;
        }
      }
    }

  }

  &.validation-error{
    border: solid 1px $contextual-danger;
    .module-header > div{
      background-color: $contextual-danger;
    }
  }

}

.module-row {
  display: flex;
  margin-bottom: 15px;

  //&:last-child{
  //  margin-bottom: 0;
  //}

  .module-row__label {
    width: 25%;
    text-align: right;
    margin-right: 15px;

    label {
      font-weight: bold;
      margin: 0;
      display: inline; // used for make ineffective bootstrap
    }
  }

  .module-row__input {
    flex-grow: 1;
  }
}

.module-bar{
  margin: 0;
  padding: 10px 15px;
  &.save-bar,
  &.saved-bar,
  &.error-bar{
    display: flex;
    align-items: center;
    .message{
      flex: 1;
      font-weight: bold;
    }
  }
  &.info-bar,
  &.info-black-bar{
    display: flex;
    .icon{
      padding: 5px 20px 5px 5px;
    }
    .message{
      flex: 1;
      font-weight: normal;
    }
  }

  &.save-bar,
  &.info-bar{
    background-color: $contextual-light-info;
    color: $contextual-primary;
  }
  &.info-black-bar{
    background-color: $contextual-light-info;
    color: $gray-800;
    .blue {
      color: $contextual-primary;
    }
  }
  &.saved-bar{
    background-color: $contextual-light-success;
    color: $contextual-success;
  }
  &.error-bar{
    background-color: $contextual-light-danger;
    color: $contextual-danger;
    ul.errors{
      font-weight: normal;
      margin: 5px 0 0 0;
    }
  }

}

.module-bar.module_subTitle{
  background-color: $gray-200;
  .message{
    font-weight: bold;
    font-size: 1.1em;
  }
}

.module-errors{
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: $contextual-light-danger;
  color: $contextual-danger;
  .title{
    display: flex;
    align-items: center;
    font-weight: bold;
    div:first-child {
      margin-right: 20px;
    }
  }
  ul.errors{
    font-weight: normal;
    margin: 5px 0 0 0;
    color: $black;
  }
}

// ########################################################
// ###############  other forms components  ###############
// ########################################################

table.preload_preview{
  font-size: 0.9em;
  line-height: normal;
}

.functional_buttons{
  text-align: right;
  margin-bottom: 25px;
}

.filters {
  border: 1px solid $gray-400;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 25px;
  text-align: center;
}
.filters, .num_records{
  label{
    text-transform: capitalize;
  }
}

/* ######  Toggle Switch  ###### */
.switch_checkbox{
  display: inline-block;
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin: 0;
  }

  label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + label {
    background: $primary-600;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 20px;
  }

  &{
    label{
      width: 30px;
      height: 15px;
    }
    label:after{
      width: 11px;
      height: 11px;
    }
  }

  &.sm{
    label {
      width: 22px;
      height: 11px;
    }
    label:after {
      width: 7px;
      height: 7px;
    }
  }

  &.lg{
    label {
      width: 60px;
      height: 30px;
    }
    label:after {
      width: 26px;
      height: 26px;
    }
  }
  &.xl{
    label {
      width: 80px;
      height: 40px;
    }
    label:after {
      width: 36px;
      height: 36px;
    }
  }
}



