@import "../abstracts/all";

//  #############  Widths  #############

.width100{ width: 100%; }
.width60px{ width: 60px; }
.width90px{ width: 90px; }
.width100px{ width: 100px; }
.width110px{ width: 110px; }
.width120px{ width: 120px; }
.width150px{ width: 150px; }
.width200px{ width: 200px; }
.width250px{ width: 250px; }
.width300px{ width: 300px; }
.width350px{ width: 350px; }

//  #############  Font sizes  #############

.text-2xs{ @include text-2xs;}
.text-xs{ @include text-xs;}
.text-sm{ @include text-sm;}
.text-base{ @include text-base;}
.text-lg{ @include text-lg;}
.text-xl{ @include text-xl;}
.text-2xl{ @include text-2xl;}
.text-3xl{ @include text-3xl;}
.text-4xl{ @include text-4xl;}
.text-5xl{ @include text-5xl;}

//  #############  Foreground colors  #############

.white{ color: $white; }
.black{ color: $black; }

.gray-50{ color: $gray-50; }
.gray-100{ color: $gray-100; }
.gray-200{ color: $gray-200; }
.gray-300{ color: $gray-300; }
.gray-400{ color: $gray-400; }
.gray-500{ color: $gray-500; }
.gray-600{ color: $gray-600; }
.gray-700{ color: $gray-700; }
.gray-800{ color: $gray-800; }
.gray-900{ color: $gray-900; }

.red-50{ color: $red-50; }
.red-100{ color: $red-100; }
.red-200{ color: $red-200; }
.red-300{ color: $red-300; }
.red-400{ color: $red-400; }
.red-500{ color: $red-500; }
.red-600{ color: $red-600; }
.red-700{ color: $red-700; }
.red-800{ color: $red-800; }
.red-900{ color: $red-900; }

.green-50{ color: $green-50; }
.green-100{ color: $green-100; }
.green-200{ color: $green-200; }
.green-300{ color: $green-300; }
.green-400{ color: $green-400; }
.green-500{ color: $green-500; }
.green-600{ color: $green-600; }
.green-700{ color: $green-700; }
.green-800{ color: $green-800; }
.green-900{ color: $green-900; }

.brown-50{ color: $brown-50; }
.brown-100{ color: $brown-100; }
.brown-200{ color: $brown-200; }
.brown-300{ color: $brown-300; }
.brown-400{ color: $brown-400; }
.brown-500{ color: $brown-500; }
.brown-600{ color: $brown-600; }
.brown-700{ color: $brown-700; }
.brown-800{ color: $brown-800; }
.brown-900{ color: $brown-900; }

.blue-50{ color: $blue-50; }
.blue-100{ color: $blue-100; }
.blue-200{ color: $blue-200; }
.blue-300{ color: $blue-300; }
.blue-400{ color: $blue-400; }
.blue-500{ color: $blue-500; }
.blue-600{ color: $blue-600; }
.blue-700{ color: $blue-700; }
.blue-800{ color: $blue-800; }
.blue-900{ color: $blue-900; }

// Applications main palettes

.primary-50{ color: $primary-50; }
.primary-100{ color: $primary-100; }
.primary-200{ color: $primary-200; }
.primary-300{ color: $primary-300; }
.primary-400{ color: $primary-400; }
.primary-500{ color: $primary-500; }
.primary-600{ color: $primary-600; }
.primary-700{ color: $primary-700; }
.primary-800{ color: $primary-800; }
.primary-900{ color: $primary-900; }

.secondary-50{ color: $secondary-50; }
.secondary-100{ color: $secondary-100; }
.secondary-200{ color: $secondary-200; }
.secondary-300{ color: $secondary-300; }
.secondary-400{ color: $secondary-400; }
.secondary-500{ color: $secondary-500; }
.secondary-600{ color: $secondary-600; }
.secondary-700{ color: $secondary-700; }
.secondary-800{ color: $secondary-800; }
.secondary-900{ color: $secondary-900; }

.tertiary-50{ color: $tertiary-50; }
.tertiary-100{ color: $tertiary-100; }
.tertiary-200{ color: $tertiary-200; }
.tertiary-300{ color: $tertiary-300; }
.tertiary-400{ color: $tertiary-400; }
.tertiary-500{ color: $tertiary-500; }
.tertiary-600{ color: $tertiary-600; }
.tertiary-700{ color: $tertiary-700; }
.tertiary-800{ color: $tertiary-800; }
.tertiary-900{ color: $tertiary-900; }


.mixed_palette_1{ color: $palette-1; }
.mixed_palette_2{ color: $palette-2; }
.mixed_palette_3{ color: $palette-3; }
.mixed_palette_4{ color: $palette-4; }
.mixed_palette_5{ color: $palette-5; }
.mixed_palette_6{ color: $palette-6; }
.mixed_palette_7{ color: $palette-7; }
.mixed_palette_8{ color: $palette-8; }
.mixed_palette_9{ color: $palette-9; }

.contextual_primary{ color: $contextual-primary; }
.contextual_info{ color: $contextual-info; }
.contextual_success{ color: $contextual-success; }
.contextual_warning{ color: $contextual-warning; }
.contextual_danger{ color: $contextual-danger; }

.contextual_light_primary{ color: $contextual-light-primary; }
.contextual_light_info{ color: $contextual-light-info; }
.contextual_light_success{ color: $contextual-light-success; }
.contextual_light_warning{ color: $contextual-light-warning}
.contextual_light_danger{ color: $contextual-light-danger; }


//  #############  Background colors #############

.bg-white{ background-color: $white; }
.bg-black{ background-color: $black; }

.bg-gray-50{ background-color: $gray-50; }
.bg-gray-100{ background-color: $gray-100; }
.bg-gray-200{ background-color: $gray-200; }
.bg-gray-300{ background-color: $gray-300; }
.bg-gray-400{ background-color: $gray-400; }
.bg-gray-500{ background-color: $gray-500; }
.bg-gray-600{ background-color: $gray-600; }
.bg-gray-700{ background-color: $gray-700; }
.bg-gray-800{ background-color: $gray-800; }
.bg-gray-900{ background-color: $gray-900; }

.bg-red-50{ background-color: $red-50; }
.bg-red-100{ background-color: $red-100; }
.bg-red-200{ background-color: $red-200; }
.bg-red-300{ background-color: $red-300; }
.bg-red-400{ background-color: $red-400; }
.bg-red-500{ background-color: $red-500; }
.bg-red-600{ background-color: $red-600; }
.bg-red-700{ background-color: $red-700; }
.bg-red-800{ background-color: $red-800; }
.bg-red-900{ background-color: $red-900; }

.bg-green-50{ background-color: $green-50; }
.bg-green-100{ background-color: $green-100; }
.bg-green-200{ background-color: $green-200; }
.bg-green-300{ background-color: $green-300; }
.bg-green-400{ background-color: $green-400; }
.bg-green-500{ background-color: $green-500; }
.bg-green-600{ background-color: $green-600; }
.bg-green-700{ background-color: $green-700; }
.bg-green-800{ background-color: $green-800; }
.bg-green-900{ background-color: $green-900; }

.bg-brown-50{ background-color: $brown-50; }
.bg-brown-100{ background-color: $brown-100; }
.bg-brown-200{ background-color: $brown-200; }
.bg-brown-300{ background-color: $brown-300; }
.bg-brown-400{ background-color: $brown-400; }
.bg-brown-500{ background-color: $brown-500; }
.bg-brown-600{ background-color: $brown-600; }
.bg-brown-700{ background-color: $brown-700; }
.bg-brown-800{ background-color: $brown-800; }
.bg-brown-900{ background-color: $brown-900; }

.bg-blue-50{ background-color: $blue-50; }
.bg-blue-100{ background-color: $blue-100; }
.bg-blue-200{ background-color: $blue-200; }
.bg-blue-300{ background-color: $blue-300; }
.bg-blue-400{ background-color: $blue-400; }
.bg-blue-500{ background-color: $blue-500; }
.bg-blue-600{ background-color: $blue-600; }
.bg-blue-700{ background-color: $blue-700; }
.bg-blue-800{ background-color: $blue-800; }
.bg-blue-900{ background-color: $blue-900; }

.bg-primary-50{ background-color: $primary-50; }
.bg-primary-100{ background-color: $primary-100; }
.bg-primary-200{ background-color: $primary-200; }
.bg-primary-300{ background-color: $primary-300; }
.bg-primary-400{ background-color: $primary-400; }
.bg-primary-500{ background-color: $primary-500; }
.bg-primary-600{ background-color: $primary-600; }
.bg-primary-700{ background-color: $primary-700; }
.bg-primary-800{ background-color: $primary-800; }
.bg-primary-900{ background-color: $primary-900; }

.bg-secondary-50{ background-color: $secondary-50; }
.bg-secondary-100{ background-color: $secondary-100; }
.bg-secondary-200{ background-color: $secondary-200; }
.bg-secondary-300{ background-color: $secondary-300; }
.bg-secondary-400{ background-color: $secondary-400; }
.bg-secondary-500{ background-color: $secondary-500; }
.bg-secondary-600{ background-color: $secondary-600; }
.bg-secondary-700{ background-color: $secondary-700; }
.bg-secondary-800{ background-color: $secondary-800; }
.bg-secondary-900{ background-color: $secondary-900; }

.bg-tertiary-50{ background-color: $tertiary-50; }
.bg-tertiary-100{ background-color: $tertiary-100; }
.bg-tertiary-200{ background-color: $tertiary-200; }
.bg-tertiary-300{ background-color: $tertiary-300; }
.bg-tertiary-400{ background-color: $tertiary-400; }
.bg-tertiary-500{ background-color: $tertiary-500; }
.bg-tertiary-600{ background-color: $tertiary-600; }
.bg-tertiary-700{ background-color: $tertiary-700; }
.bg-tertiary-800{ background-color: $tertiary-800; }
.bg-tertiary-900{ background-color: $tertiary-900; }

.bg_mixed_palette_1{ background-color: $palette-1; }
.bg_mixed_palette_2{ background-color: $palette-2; }
.bg_mixed_palette_3{ background-color: $palette-3; }
.bg_mixed_palette_4{ background-color: $palette-4; }
.bg_mixed_palette_5{ background-color: $palette-5; }
.bg_mixed_palette_6{ background-color: $palette-6; }
.bg_mixed_palette_7{ background-color: $palette-7; }
.bg_mixed_palette_8{ background-color: $palette-8; }
.bg_mixed_palette_9{ background-color: $palette-9; }

.bg_contextual_primary{ background-color: $contextual-primary; }
.bg_contextual_info{ background-color: $contextual-info; }
.bg_contextual_success{ background-color: $contextual-success; }
.bg_contextual_warning{ background-color: $contextual-warning; }
.bg_contextual_danger{ background-color: $contextual-danger; }

.bg_contextual_light_primary{ background-color: $contextual-light-primary; }
.bg_contextual_light_info{ background-color: $contextual-light-info; }
.bg_contextual_light_success{ background-color: $contextual-light-success; }
.bg_contextual_light_warning{ background-color: $contextual-light-warning}
.bg_contextual_light_danger{ background-color: $contextual-light-danger; }
