@import "../abstracts/all";

//

//  ######  Text & paragraphs  ######
.strong,
strong {
  font-style: normal;
  color: $primary-800;
  font-weight: 700;
}
.error{
  font-weight: bold;
  color: $red-600;
}
.highlight{
  color: $primary-800;
}
.small,
small{
  @include text-xs;
}
.inline{
  display: inline-block;
}

//   ######  Titles  ######
h1, h2, h3, h4, h5 {
  font-family: $fontFamily-2;
  color: $gray-800;
}
h1{
  @include text-5xl;
}
h2{
  @include text-4xl;
}
h3{
  @include text-3xl;
}
h4{
  @include text-2xl;
}
h5{
  @include text-xl;
}
h6{
  @include text-lg;
}

.data-title{
  @include text-base;
  font-weight: bold;
  margin-bottom: 5px;
}

.data-heading{
  color: $primary-600;
  background-color: $gray-50;
  border-color: $primary-50;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  @include text-lg;
}

/*.data-year,
.data-source{
  font-style: italic;
  text-align: right;
  margin-bottom: 4px;
  @include text-xs;
}
.data-country{
  font-style: italic;
  text-align: left;
  margin-bottom: 4px;
  @include text-xs;
}*/

.data{
  font-style: italic;
  margin-bottom: 4px;
  @include text-xs;
  &-year,&-source {
  text-align: right;
  }
  &-country {
     text-align: left;
  }
}
.data-form-link{
  text-align: right;
  margin-bottom: 4px;
}


//   ######  Links  ######
a{
  font-weight: bold;
  color: $primary-600;
}

//   ######  Lists  ######
ul {
  list-style: disc;
}


//   ######  Type-faces - web fonts  ######

/* Varela Round - ALL */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font_path}varela-round-v8-latin_latin-ext-regular.woff2') format('woff2'),
  url('#{$font_path}varela-round-v8-latin_latin-ext-regular.woff') format('woff'),
  url('#{$font_path}varela-round-v8-latin_latin-ext-regular.ttf') format('truetype');
}

/* montserrat-regular*/
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('#{$font_path}montserrat-v10-latin_latin-ext-regular.woff2') format('woff2'),
  url('#{$font_path}montserrat-v10-latin_latin-ext-regular.woff') format('woff'),
  url('#{$font_path}montserrat-v10-latin_latin-ext-regular.ttf') format('truetype');
}
/* montserrat-700*/
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('#{$font_path}montserrat-v10-latin_latin-ext-700.woff2') format('woff2'),
  url('#{$font_path}montserrat-v10-latin_latin-ext-700.woff') format('woff'),
  url('#{$font_path}montserrat-v10-latin_latin-ext-700.ttf') format('truetype');
}

/* raleway-300*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font_path}raleway-v11-latin_latin-ext-300.woff2') format('woff2'),
  url('#{$font_path}raleway-v11-latin_latin-ext-300.woff') format('woff'),
  url('#{$font_path}raleway-v11-latin_latin-ext-300.ttf') format('truetype');
}
/* raleway-regular*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font_path}raleway-v11-latin_latin-ext-regular.woff2') format('woff2'),
  url('#{$font_path}raleway-v11-latin_latin-ext-regular.woff') format('woff'),
  url('#{$font_path}raleway-v11-latin_latin-ext-regular.ttf') format('truetype');
}
/* raleway-600*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font_path}raleway-v11-latin_latin-ext-600.woff2') format('woff2'),
  url('#{$font_path}raleway-v11-latin_latin-ext-600.woff') format('woff'),
  url('#{$font_path}raleway-v11-latin_latin-ext-600.ttf') format('truetype');
}
/* raleway-600italic*/
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: url('#{$font_path}raleway-v11-latin_latin-ext-600italic.woff2') format('woff2'),
  url('#{$font_path}raleway-v11-latin_latin-ext-600italic.woff') format('woff'),
  url('#{$font_path}raleway-v11-latin_latin-ext-600italic.ttf') format('truetype');
}
/* raleway-700*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font_path}raleway-v11-latin_latin-ext-700.woff2') format('woff2'),
  url('#{$font_path}raleway-v11-latin_latin-ext-700.woff') format('woff'),
  url('#{$font_path}raleway-v11-latin_latin-ext-700.ttf') format('truetype');
}
/* raleway-700italic*/
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('#{$font_path}raleway-v11-latin_latin-ext-700italic.woff2') format('woff2'),
  url('#{$font_path}raleway-v11-latin_latin-ext-700italic.woff') format('woff'),
  url('#{$font_path}raleway-v11-latin_latin-ext-700italic.ttf') format('truetype');
}
