
/* Varela Round - ALL */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url('#/vendor/andreamarelli/modular-forms/src/resources/assets/fonts/varela-round-v8-latin_latin-ext-regular.woff2') format('woff2'),
    url('#/vendor/andreamarelli/modular-forms/src/resources/assets/fonts/varela-round-v8-latin_latin-ext-regular.woff') format('woff');
}

/* montserrat-regular*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('#/vendor/andreamarelli/modular-forms/src/resources/assets/fonts/montserrat-v10-latin_latin-ext-regular.woff2') format('woff2'),
    url('#/vendor/andreamarelli/modular-forms/src/resources/assets/fonts/montserrat-v10-latin_latin-ext-regular.woff') format('woff');
}
/* montserrat-700*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('#/vendor/andreamarelli/modular-forms/src/resources/assets/fonts/montserrat-v10-latin_latin-ext-700.woff2') format('woff2'),
    url('#/vendor/andreamarelli/modular-forms/src/resources/assets/fonts/montserrat-v10-latin_latin-ext-700.woff') format('woff');
}
