@import "../abstracts/all";
@import "../layout/layout";

header{
  @media print{
    display: none;
  }
}

#header {
  @include wrap;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas:
    "logo actions"
    "logo menu";

  #logo{
    grid-area: logo;
    padding: 10px 0;
  }
  #actions{
    grid-area: actions;
  }
  #menu{
    grid-area: menu;
  }

}

#actions {
  display: flex;
  justify-content: flex-end;
  color: $gray-600;
  a{
    font-weight: normal;
    color: $gray-600;
  }

  #admin, #language {
    padding: 8px;
    cursor: pointer;
    color: $gray-800;
    border: 1px solid $gray-50;
    border-top: none;
    @include transition(background-color);
    @include transition(background-color);
    &:hover {
      background-color: $black;
        opacity: 0.2;
    }
  }

  #admin{
    border-right: none;
    @include transition(background-color);
  }
  #language{
    padding-top: 10px;
    a {
      font-family: $fontFamily-3;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .9em;
      text-decoration: none;
      &:first-child {
        padding-right: 5px;
        border-right: 1px solid $gray-50;
      }
      &:last-child{
        padding-left: 5px;
      }
      &.selected {
        color: $primary-600;
      }
    }
  }
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: normal;
  color: $gray-600;
  position: relative;
  a{
    font-size: 15px;
    font-family: $fontFamily-1;
    font-weight: normal;
    color: $gray-600;
  }
  > ul > li > a {
      padding: 30px 0 10px 0;
  }
}

#breadcrumb {
  @include wrap;
  font-family: $fontFamily-1;
  text-transform: uppercase;
  color: $gray-600;
  padding: 8px 0;
  border-top: 1px solid $gray-50;
  a, span {
    font-weight: normal;
    color: $gray-600;
    display: inline-block;
    border: 1px solid $gray-400;
    padding: 2px 10px;
    margin: 3px;
    border-radius: 7px;
    font-size: 0.65em;
    &:first-child {
      margin-left: 0;
    }
  }
  span.entity {
    font-size: 0.65em;
    border: none;
    padding-left: 0;
  }
  span.sep {
    font-family: $fontFamily-3;
    font-weight: 300;
    border: none;
    padding: 0 2px;
    font-size: 0.85em;
  }
  a {
    @include transition(background-color);
    &:hover {
      background-color: $gray-400;
    }
    &:hover, &:visited, &:focus {
      text-decoration: none;
      color: $gray-800;
    }
  }
}


ul.menu-header{
    padding-inline-start: 0;
    font-weight: normal;
    margin-bottom: 0;
    > li {
        display: inline-block;
        position: relative;
        > a {
            display: inline-block;
            padding: 10px 0 10px 0;
            margin: 0 10px -1px;
            color: $gray-600;
        }
        &:first-child > a {
            margin-left: 0;
        }
        &:last-child {
            > a {
                margin-right: 0;
            }
            ul {
                left: auto;
                right: -10px;
                text-align: right;
            }
        }
        &.selected {
            > a {
                font-weight: bold;
            }
        }
        &:hover {
            > a {
                text-decoration: none;
                color: $primary-800;
            }
            ul {
                display: block;
                background-color: rgba($white, 1);
            }
        }
        ul {
            list-style: none;
            z-index: 3;
            display: none;
            position: absolute;
            top: 100%;
            left: -60px;
            padding: 10px 0 10px 30px;
            background-color: rgba($white, 0);
            text-align: left;
            @include transition(background-color);
            min-width: 100%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
            &:before {
                content: "";
                position: absolute;
                left: 30px;
                top: 0;
                bottom: 0;
                border-left: 1px solid #efeded;
            }
            li {
                white-space: nowrap;
                a {
                    padding: 10px 30px;
                    display: block;
                    @include transition(background-color);
                    &:hover {
                        background-color: $gray-200;
                        text-decoration: none;
                        color: $primary-800;
                    }
                }
                &.selected {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        left: -1px;
                        top: 11px;
                        bottom: 11px;
                        border-left: 3px solid $primary-600;
                    }
                }
            }
        }
    }
}

section.header-ribbon {
  color: $white;
  background-color: $primary-900;
  font-family: $fontFamily-2;
  font-weight: 400;
  font-size: 2em;
  padding: 20px;

  :first-letter {
    text-transform: capitalize;
  }
}

section.header-image {
  padding-top: 40px;
  position: relative;
  img{
    border-radius: 10px;
    width: 100%;
  }
  h1{
    color: $white;
    padding: 0 110px;
    font-size: 4em;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    line-height: 1em;
    .subtitle{
      font-size: .5em;
      display: block;
      margin-top: 20px;
      line-height: 1.2em;
    }
  }
}
