@import "../abstracts/all";

.wrap {
  max-width: 1170px;
  margin: 0 auto;
}

@mixin wrap {
  max-width: 1170px;
  margin: 0 auto;
}

body.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > main {
    flex-grow: 1;
    width: 100%;
  }
}
