@import "../abstracts/all";

main{

  @include wrap;

  &.one-col{

    > section.content{
      padding: 30px 0 40px 0;
      width: 100%;
    }

  }

  &.two-col {

    display: flex;

    > section.content {
      border-left: 1px solid $gray-400;
      padding: 6% 45px 6% 45px;
      width: 100%;
    }

    > nav.sidebar {
      width: 35%;
      padding: 8% 45px 5% 0;

      .sidebar_menu_anchor_mobile{

      }

      .sidebar_menu{

        h2 {
          font-size: 1.9em;
          margin-bottom: 30px;
        }
  
        // Level 0
        > ul{
  
          border-bottom: 1px solid $gray-200;
          font-family: $fontFamily-1;
          -webkit-padding-start: 0;
          list-style: none;
  
          *{
            color: $gray-600;
            font-weight: normal;
            a:hover{
              text-decoration: none;
              color: $primary-800;
            }
          }
  
          // first level
          > li {
            &.selected{
              > ul {
                max-height: none;
                padding: 10px 0 30px;
              }
              > a {
                font-weight: 700;
                &:after {
                  font-family: $fontFamily-FontAwesome;
                  content: "\f105"; // fa-angle-right
                  position: absolute;
                  right: 0;
                  top: 50%;
                  margin-top: -8px;
                }
              }
            }
            > a {
              display: block;
              padding: 10px 10px 10px 0;
              font-size: 1.3em;
              position: relative;
              border-top: 1px solid $gray-200;
            }
            // second level
            > ul {
              overflow: hidden;
              max-height: 0;
              padding: 0;
              list-style: none;
              transition-property: all;
              transition-duration: .3s;
              &.hover{
                max-height: 500px;
                padding: 10px 0 30px;
              }
              > li {
                > a {
                  display: block;
                  padding: 6px 0 6px 20px;
                  position: relative;
                  &:before {
                    font-family: $fontFamily-FontAwesome;
                    content: "\f105"; // fa-angle-right
                    position: absolute;
                    left: 0;
                  }
                }
  
                // third level{
                > ul {
                  font-size: .9em;
                  li {
                    list-style: disc;
                    a {
                      padding: 5px 0;
                      display: block;
                    }
                  }
                }
              }
            }
          }
  
        }
  
        a.side-button {
          font-family: $fontFamily-2;
          font-size: .9em;
          display: block;
          margin-bottom: 10px;
          padding: 18px 12px 18px 45px;
          background-color: $primary-600;
          color: $white;
          border-radius: 10px;
          @include transition(background-color);
          &:hover {
            background-color: $primary-300;
            color: $gray-800;
            text-decoration: none;
          }
          /*text-transform: uppercase;*/
          position: relative;
          img, span.flag-icon {
            position: absolute;
            left: 15px;
            top: 20px;
          }
          &.no_icon{
            padding: 18px 12px 18px 12px;
          }
        }

      }

      

    }
  }

}
