@import "../abstracts/all";

// #######################  Popup Alerts  #######################
.alert-popup{
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  min-width: 400px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: $primary-800;
  background-color: $primary-200;
  border-color: $primary-300;
  border-radius: 4px;
  padding: 15px;
}
.alert-popup-hide{
  height: 0;
  padding: 0;
}


// #######################  Other elements #######################

span.red-list_EX,
span.red-list_EW,
span.red-list_CR,
span.red-list_EN,
span.red-list_VU,
span.red-list_NT,
span.red-list_LC,
span.red-list_DD,
span.red-list_NE,
{
  display: inline-block;
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: 600;
  color: Black;
  &.compact{
    @include text-xs;
    padding: 1px 6px;
  }
}
span.red-list_EX{
  background-color: rgb(0,0,0);
  color: white
}
span.red-list_EW{
  background-color: rgb(84, 35, 68);
  color: white
}
span.red-list_CR{
  background-color: rgb(216, 30, 5);
}
span.red-list_EN{
  background-color: rgb(252, 127, 63);
}
span.red-list_VU{
  background-color: rgb(249, 232, 20);
}
span.red-list_NT{
  background-color: rgb(204, 226, 38);
}
span.red-list_LC{
  background-color: rgb(96, 198, 89);
}
span.red-list_DD{
  background-color: rgb(209, 209, 198);
}
span.red-list_NE{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(50, 50, 50);
}
