$ui-font: 'Varela Round', sans-serif;
$input-font: Verdana, sans-serif;

//   ######  Type-faces - web fonts  ######

/* Varela Round */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url('@modular-forms/fonts/varela_round/VarelaRound-Regular.woff2') format('woff2'),
}
