
$font_path: '/vendor/modular-forms/src/resources/assets/fonts/';

$ui-font: 'Varela Round', sans-serif;
$input-font: Verdana, sans-serif;

//   ######  Type-faces - web fonts  ######

/* Varela Round */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url('#{$font_path}varela_round/VarelaRound-Regular.woff2') format('woff2'),
}
