@mixin text-2xs {
  font-size: 0.7rem;
  line-height: 1.4em;
  letter-spacing: .4px;
  @media all and (max-width: 1280px) {
    font-size: 0.7rem;
    line-height: 1.5em;
  }
}

@mixin text-xs {
  font-size: .75rem;
  line-height: 1.4em;
  letter-spacing: .4px;
  @media all and (max-width: 1280px) {
    font-size: 0.7rem;
    line-height: 1.4em;
  }
}

@mixin text-sm {
  font-size: .85rem;
  line-height: 1.3em;
  letter-spacing: .5px;
  @media all and (max-width: 1280px) {
    font-size: 0.8rem;
    line-height: 1.5em;
  }
}

@mixin text-base {
  font-size: 1rem;
  line-height: 1.4em;
  @media all and (max-width: 1280px) {
    font-size: 0.85rem;
    line-height: 1.3em;
  }
}

@mixin text-lg {
  font-size: 1.2rem;
  line-height: 1.3em;
  @media all and (max-width: 1280px) {
    font-size: 1rem;
    line-height: 1.4em;
  }
}

@mixin text-xl {
  font-size: 1.4rem;
  line-height: 1.3em;
  @media all and (max-width: 1280px) {
    font-size: 1.2rem;
    line-height: 1.3em;
  }
}

@mixin text-2xl {
  font-size: 1.8rem;
  line-height: 1.2em;
  @media all and (max-width: 1280px) {
    font-size: 1.4rem;
  }
}

@mixin text-3xl {
  font-size: 2rem;
  line-height: 1.2em;
  @media all and (max-width: 1280px) {
    font-size: 1.8rem;
  }
}

@mixin text-4xl {
  font-size: 2.5rem;
  line-height: 1.2em;
  @media all and (max-width: 1280px) {
    font-size: 2rem;
  }
}

@mixin text-5xl {
  font-size: 3rem;
  line-height: 1.2em;
  @media all and (max-width: 1280px) {
    font-size: 2.5rem;
  }
}